/* keyframes  */
@keyframes bounceball {
  0% {
transform: translateY(0%);
  }
  50% {
    transform: translateY(-220%);
  }
  
  100% {
      animation:animate__bounce;
  }
}

body {
  margin: 3em;
  background-color: lightblue;
}
.gameContainer{
    /* display:flex; */padding-top:32vh;
}
.ball {
  border: solid blue;
  height: 90px;
  background-image: url('https://cdn.shopify.com/s/files/1/0262/6197/9188/products/WTB9300XB_1_7_NBA_DRV_BSKT_OR.png.cq5dam.web.2000.2000_1024x1024.jpg?v=1645047185');
  background-size: cover;
  width: 90px;
  border-radius: 50%;
}
.jacksContainer {
  display: flex;
}
.jax {
  background-image: url("https://atlas-content-cdn.pixelsquid.com/assets_v2/190/1902480984197043535/jpeg-600/G01.jpg");
  height: 40px;
  width: 40px;
  margin:2px;
  border-radius:50%;
  background-size: cover;
}
.bounced{
    animation: bounceball 3.3s ease 1;
}
.scoreContainer{
    /* border:solid blue; */
    display:flex;
    
}
.points{
    font-size:32px;
    text-align: center;
    margin-left:22px;
    color:green;
}

