.comicContainer{
    margin:1em;
    border:solid black;
    height:70vh;
    background-color:black;
    color:lemonchiffon;
}

.rowOne,.rowTwo{
    /* border:solid navy; */
    margin:5px;
    height:45%;
    display:flex;
    justify-content: space-between;
}
.panel{
    /* border:solid blue; */
    width:32%;
    font-size:25px;

}
.pic{
    
    width:100%;
    height:70%;
}
.punchLine{
    height:20%;
    /* border:solid navy; */
    text-align:center;
}

.scoreboard{
    display:flex;
    justify-content: space-evenly;
}