body{
    background-color: salmon;
}
.flexer{
    display:flex;
}
.ticket{
    margin:10px;
    border:solid black;
    color:black;
    width:33%;
    padding:8px;
}
.ticket:hover{
    margin:10px;
    border:solid black;
    color:black;
    background-color:lemonchiffon;
    width:33%;
    padding:8px;
}
li{
    padding:5px;
}
.price{
    color:green;
    border:dotted green;
}
.request{
    color:blue;
}
.ledger{
    color:blue;
}